<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update product</title>
</head>
<header>
    <div th:insert="~{fragment :: header}"></div>
</header>
    <body>
        <form th:action="@{/products/{productId}/update(productId=${product.id})}" method="post">
            <label for="name">Name:
                <input id="name" type="text" name="name" th:value="${product.name}">
            </label><br>
            <label for="description">Description:
                <input id="description" type="text" name="description" th:value="${product.description}">
            </label><br>
            <div th:each="category : ${categories}">
                <input th:id="${category}" type="radio" name="category" th:value="${category}" th:checked="${category == product.category}">
                <label th:for="${category}" th:text="${category}">Category</label>
            </div><br>
            <label for="price">Price from:
                <input id="price" type="number" name="price" th:value="${product.price}">
            </label><br>
            <label for="quantity">Quantity:
                <input id="quantity" type="number" name="quantity" th:value="${product.quantity}">
            </label><br>
            <label for="sku">SKU:
                <input id="sku" type="text" name="sku" th:value="${product.sku}">
            </label><br>
            <label for="owner">
                <input id="owner" type="hidden" name="owner" th:value="${product.owner}">
            </label><br>
            <label for="createdAt">
                <input id="createdAt" type="text" name="createdAt" th:value="${product.createdAt}">
            </label><br>
            <button type="submit">Update</button>
        </form>
        <form th:action="@{/products/{productId}/delete(productId=${product.id})}" method="post">
            <button type="submit">Delete</button>
        </form>
        <div th:if="${errors}">
            <p style="color: darkred" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
        </div>
    </body>
</html>