<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<header>
    <div th:insert="~{fragment :: header}"></div>
</header>
    <body>
        <div>
            <label for="id">Id:
                <div id="id" th:text="${user.id}">Text</div>
            </label><br>
            <label for="name">Username:
                <div id="name" th:text="${user.username}">Text</div>
            </label><br>
            <label for="category">Email:
                <div id="category" th:text="${user.email}">Text</div>
            </label><br>
            <label for="description">Role:
                <div id="description" th:text="${user.role}">Text</div>
            </label><br>
            <label for="price">Created:
                <div id="price" th:text="${user.createdAt}">Text</div>
            </label><br>
        </div>
        <div>
            <a th:href="@{'/users/' + ${user.id} + '/update'}" methods="get"><button type="submit">Update</button></a>
        </div>
        <div>
            <div>Products:</div>
            <form th:action="@{'/users/' + ${user.id}}" method="get">
                <label for="page">Page:
                    <input id="page" type="number" name="page" th:value="${products.metadata.page}">
                </label><br>
                <label for="size">Size:
                    <input id="size" type="number" name="size" th:value="${products.metadata.size}">
                </label>
                <button type="submit">Filter</button>
            </form>
            <div th:each="product: ${products.content}">
                <a th:href="@{'/products/' + ${product.id}}" th:text="${product.name}">Product</a>
            </div>
        </div>
    </body>
</html>